<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <div class="box" id="heading">
      <h1><%=listTitle%></h1>
    </div>
    <div class="box">
      <%listItems.forEach((item)=>{%>
      <form action="/delete" method="post">
        <div class="item">
          <input
            type="checkbox"
            name="checkBox"
            value="<%=item._id%>"
            onChange="this.form.submit()"
          />
          <p><%=item.name%></p>
        </div>
        <input type="hidden" name="checkBoxRoute" value="<%=listTitle%>" />
      </form>
      <%})%>
      <form action="/" method="post" class="item">
        <input type="text" name="inputItems" />
        <button type="submit" name="title" value="<%=listTitle%>">+</button>
      </form>
    </div>
  </body>
</html>
